.layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    margin-left: 230px;
    /* để tránh sidebar đè lên nội dung */
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto;
    height: 100vh;
}